<p>componente-venta-creacion works!</p>
<form [formGroup]="formVenta" (submit)="GrabarVentas()">
<label for="es">Ingresar establecimiento</label>
<input id="es" name="txtEstablecimiento" type="text" formControlName="establecimiento">
<br><br>
<label for="pre">Ingresar precio</label>
<input id="pre" name="txtPrecio" type="text" formControlName="precio">
<br><br>
<label for="can">Ingresar cantidad</label>
<input id="can" name="txtEstablecimiento" type="text" formControlName="cantidad">
<br><br>
<label for="des">Ingresar descuento</label>
<input id="des" name="txtDescuento" type="text" formControlName="descuento">
<br><br>
<label for="exi">Ingresar existencia</label>
<input id="exi" name="txtExistencia" type="text" formControlName="existencia">
<br><br>
<button>Enviar venta</button>
</form>