<form [formGroup]="formVenta" (submit)="GrabarVentas()">
    <div class="container">
        <h1 class="text-center">Creacion De Ventas</h1>
        <div class="row">

            <div class="col-12">
                <label for="es">Ingresar  Codigo Producto</label>
                <input type="text" class="form-control" placeholder="Producto" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="id_producto">
            </div>

            <div class="col-12">
                <label for="es">Ingresar  Codigo Cliente</label>
                <input type="text" class="form-control" placeholder="Cliente" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="id_cliente">
            </div>

            <div class="col-12">
                <label for="ip">Ingresar Id del producto</label>
                    <input type="text" class="form-control" placeholder="Id producto" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="id_producto">

            </div>
            <div class="col-12">
                <label for="ic">Ingresar Id del cliente</label>
                    <input type="text" class="form-control" placeholder="Id cliente" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="id_cliente">

            </div>
            <div class="col-12">
                <label for="es">Ingresar establecimiento</label>
                    <input type="text" class="form-control" placeholder="Establecimiento" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="establecimiento">
            </div>
            <div class="col-12">
                <label for="pre">Ingresar precio</label>
                <input type="text" class="form-control" placeholder="Precio" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="precio">

            </div>

            <div class="col-12">
                <label for="can">Ingresar cantidad</label>
                <input type="text" class="form-control" placeholder="Cantidad" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="cantidad_producto">

            </div>

            <div class="col-12">    
                <label for="des">Ingresar descuento</label>
                <input type="text" class="form-control" placeholder="Descuento" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="descuento">

            </div>
        
            <div class="col-12 mt-3">
                <button class="btn btn-primary">Crear Nueva venta</button>
            </div>
        </div>
    </div>
</form>