<div class="container">
    <h1 class="text-center">Lista de Productos</h1>
    <div class="col-12">
        <table class="table table-bordered border-dark table-hover ">
            <thead class="table-dark">
                <tr>
                    <td>Codigo</td>
                    <td>Nombre Producto</td>
                    <td>Existencia</td>
                    <td>Marca</td>
                    <td>Precio</td>
                </tr>
            
            </thead>
            
            <tbody *ngFor="let item of this.lstProducto">
                <tr>
                    <th>{{item.id_producto}}</th>
                    <th>{{item.nombre_producto}}</th>
                    <th>{{item.existencia}}</th>
                    <th>{{item.marca}}</th>
                    <th>{{item.precio}}</th>
                </tr>
            </tbody>
             
        </table>
    </div>
</div>

