<form [formGroup]="formVentaAc" (submit)="ActualizacionVenta()">
    <div class="container">
        <h1 class="text-center">Actualizacion De Ventas</h1>
        <div class="row">
            <div class="col-12">
                <label for="i">Ingresar Id de venta</label>
                    <input type="text" class="form-control" placeholder="Id venta" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="id_venta">
            </div>
            <div class="col-12">
                <label for="es">Ingresar establecimiento</label>
                    <input type="text" class="form-control" placeholder="Establecimiento" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="establecimiento">

            </div>
            <div class="col-12">
                <label for="pre">Ingresar precio</label>
                <input type="text" class="form-control" placeholder="Precio" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="precio">

            </div>

            <div class="col-12">
                <label for="can">Ingresar cantidad</label>
                <input type="text" class="form-control" placeholder="Cantidad" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="cantidad">

            </div>

            <div class="col-12">
                <label for="des">Ingresar descuento</label>
                <input type="text" class="form-control" placeholder="Descuento" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="descuento">

            </div>
        
            <div class="col-12 mt-3">
                <button class="btn btn-primary">Actualizar venta</button>
            </div>
        </div>
    </div>
</form>
