<p>producto-actualizar works!</p>
<form [formGroup]="formProductoAc" (submit)="ProductoActualizar()">

    <div class="container">
        <div class="row">
            <h1 class="text-center">Actualizacion de productos</h1>
            <div class="col-12">
                <label for="i">Ingrese id de producto</label>
                    <input type="text" class="form-control" placeholder="Id" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="id_producto">
            </div>
            <div class="col-12">
                <label for="np">Ingrese nombre del producto</label>
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="nombre_producto">
            </div>

            <div class="col-12">
                <label for="mc">Ingresar marca</label>
                <input type="text" class="form-control" placeholder="Marca" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="marca">
            </div>

            <div class="col-12">
                <label for="pr">Ingresar precio</label>
                <input type="text" class="form-control" placeholder="Precio" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="precio">
            </div>

            <div class="col-12 mt-3">
                <label for="ex">Ingresar existencia</label>
                <input type="text" class="form-control" placeholder="Existencia" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="existencia">
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                <button class="btn btn-primary">Enviar Actualizacion de Producto</button>
            </div>
        </div>
    </div>
</form>
