<p>componente-cliente-creacion works!</p>
<form [formGroup]="formClientes" (submit)="GrabarCliente()">
  <label for="Nm">Ingresar nombre</label>
  <input id="Nm" name="txtNombre" type="text" formControlName="nombre">
  <br><br>
  <label for="Ap">Ingresar apellido</label>
  <input id="Ap" name="txtApellido" type="text" formControlName="apellido">
  <br><br>
  <label for="Dp">Ingresar dpi</label>
  <input id="Dp" name="txtDpi" type="text" formControlName="dpi">
  <br><br>
  <label for="Tl">Ingresar telefono</label>
  <input id="Tl" name="txtTelefono" type="text" formControlName="telefono">
  <br><br>
  <button>Enviar Cliente</button>
</form>