<p>componente-venta-lita works!</p>
<div class="container">
  <h1 class="text-center">Lista De Ventas</h1>
  <div class="col-12">
    <table class="table">
      <thead>
           <tr>
              <td>Id Producto</td>
              <td>Id Cliente</td>
              <td>Id Venta</td>
              <td>Establecimiento</td>
              <td>Precio</td>
              <td>Cantidad</td>
              <td>Fecha</td>
              <td>Descuento</td>
           </tr>
      </thead>
      <tbody *ngFor="let item of this.lstVentas">
          <tr>
            <td>{{item.id_producto}}</td>
            <td>{{item.id_cliente}}</td>
            <td>{{item.id_venta}}</td>
            <td>{{item.establecimiento}}</td>
            <td>{{item.precio}}</td>
            <td>{{item.cantidad_producto}}</td>
            <td>{{item.fecha_venta}}</td>
            <td>{{item.descuento}}</td>
          </tr>
  
    </tbody>
  </table>
  </div>

</div>
