<p>componente-producto-creacion works!</p>
<form [formGroup]="formProductos" (submit)="GrabarProducto()">
<label for="np">Ingresar nombre del producto</label>
<input id="np" name="txtNombreProducto" type="text" formControlName="nombre_producto">
<br><br>
<label for="mc">Ingresar marca</label>
<input id="mc" name="txtMarca" type="text" formControlName="marca">
<br><br>
<label for="pr">Ingresar precio</label>
<input id="pr" name="txtPrecio" type="text" formControlName="precio">
<br><br>
<label for="ex">Ingresar existencia</label>
<input id="ex" name="txtExistencia" type="text" formControlName="existencia">
<br><br>
<button>Enviar Producto</button>
</form>